<!doctype html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    <title>Seedo</title>
    {% block extra_head %}
    <!-- Child templates can add extra head content here -->
    {% endblock %}
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
      <span class="material-symbols-outlined"> notifications </span>
      <a href="/" class="logo">
        <img
          src="{% static 'images/seedo_logo.png' %} "
          alt="seedo_logo"
          width="25px"
          height="25px"
        />
        Seedo
      </a>
      <a href="/accounts/" class="mypage">My</a>
      {% else %}
      <a href="/" class="logo">
        <img
          src="{% static 'images/seedo_logo.png' %} "
          alt="seedo_logo"
          width="25px"
          height="25px"
        />
        Seedo
      </a>
      {% endif %}
    </header>
    {% block content %} {% endblock content %}
  </body>
</html>
