main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  gap: 34px; /* Gap between buttons */
  padding: 75px 0px 25px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px;
  max-width: 80vh;
  padding: 0 34px;
  height: 100%;
  box-sizing: border-box;
  gap: 34px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.userName {
  color: #183b08;
  font-weight: 700;
  text-align: center;
  background-color: #a0ce8a;
  border-radius: 4px;
  padding: 5px 0;
  width: 100%;
}

.recordList {
  font-weight: 700;
  height: 75vh;
  overflow-y: auto;
}

.recordList > .recorded {
  font-size: 40px;
  line-height: 1.3;
}

.dropRecord {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
