{% extends "base.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'record/css/record.css' %}" />
{% endblock extra_head %} {% block content %} {% load custom_filters %}
<main>
  <div class="layout">
    <div class="dropdown">
      <div class="userName">
        {{ selected_user.email|email_username }} 님의 파손 기록
      </div>
      <div class="dropUser">
        {% for partner in partner_list %}
        <a href="/record/break/{{partner.user.id}}/">
          {{partner.user.email|email_username}} 님의 파손 기록</a
        >
        {% endfor %}
      </div>
    </div>

    <div class="recordList">
      {% for recorded in broken_list %}
      <div class="recorded">
        {{recorded.broken_date|date:"Y년 m월 d일"}}<br />
        {{recorded.broken_time|time:"H시 i분"}} 파손 자료<br />
        <div class="dropRecord">
          <!-- DB에서 이미지 받아와야함 / DB의 이미지 path는 record/images/파일명 으로 저장되야 함 -->
          <img
            src="{% static recorded.broken_img %}"
            alt="점자_블록_파손_기록"
          />
          <p class="recordedLocation">{{recorded.broken_location}}</p>
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const listTitles = document.querySelectorAll(".recorded");

    listTitles.forEach((title) => {
      title.addEventListener("click", function () {
        const content = this.querySelector(".dropRecord");
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    });
  });
</script>
{% endblock content %}
