{% extends "base.html" %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'navigation/css/navi.css' %}" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=po8JlsJs5W18L7GArJBDK5drZocbgJ116JTpWVN3"></script>
<script defer src="{% static 'navigation/js/navi.js' %}"></script>
{% endblock extra_head %} {% block content %}
<main>
  <h1>Pedestrian Navigation</h1>

  <div class="form-container">
    <label for="startAddress">출발지:</label>
    <div id="startAddress"></div>
    <label for="startLat">위도:</label>
    <input type="text" id="startLat" placeholder="출발지 위도를 입력하세요" />
    <label for="startLng">경도:</label>
    <input type="text" id="startLng" placeholder="출발지 경도를 입력하세요" />
  </div>
  
  <div class="form-container">
    <label for="endAddress">도착지:</label>
    <div id="endAddress"></div>
    <label for="endLat">위도:</label>
    <input type="text" id="endLat" placeholder="도착지 위도를 입력하세요" />
    <label for="endLng">경도:</label>
    <input type="text" id="endLng" placeholder="도착지 경도를 입력하세요" />
  </div>
  <button onclick="findRoute()">경로 찾기</button>
  <div>
    <input type="text" class="text_custom" id="searchKeyword" name="searchKeyword" value="" />
    <button id="btn_select">적용하기</button>
  </div>
  <div class="container">
    <div class="search-results">
      <ul id="searchResult" name="searchResult">
        <li>검색결과</li>
      </ul>
    </div>
    <div id="map" style="height: 300px"></div>
  </div>
  <div id="route-info"></div>
</main>
{% endblock content %}
