/* myapp/static/css/sample.css */

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  line-height: 1.6;
}

h2 {
  color: #193b08;
  text-align: center;
  font-size: 24px;
}

form {
  width: 100%;
}
.form-wrapper {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  gap: 38px; /* Gap between buttons */
  width: 100%; /* Ensure it takes full width */
  margin-top: 30px;
}

.button-wrapper {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  gap: 20px; /* Gap between buttons */
  width: 100%; /* Ensure it takes full width */
  margin-top: 48px;
}

.form-group {
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 16px;
}

label {
  display: block;
  font-weight: bold;
}

input[name="username"],
input[name="password"] {
  width: 100%;
  background-color: #f8f9fa;
  margin-top: 12px;
  border: 1px none;
  border-radius: 4px;
}

.button-wrapper {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  gap: 20px; /* Gap between buttons */
  width: 100%; /* Ensure it takes full width */
}

button {
  width: 100%;
  height: 52px;
  background-color: #193b08;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #337614;
}

/* Centering layout */
.layout {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure it takes at least full viewport height */
  box-sizing: border-box; /* Include padding in height calculation */
}

.content-wrapper {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 360px;
  padding: 0 34px;
  min-height: 100vh; /* Ensure it takes at least full viewport height */
  box-sizing: border-box; /* Include padding in height calculation */
}
