main {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
  padding: 70px 34px 20px;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  color: #337614;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}
.title:hover {
  color: #76b559;
  text-decoration: underline;
}

.submitForm,
.submitForm * {
  width: 100%;
  box-sizing: border-box;
}

[for="id_title"],
[for="id_content"],
[for="id_file_upload"] {
  color: #337614;
  font-weight: 700;
}
#id_file_upload {
  color: #193b08;
}

[type="submit"] {
  text-decoration: none;
  font-size: 40px;
  color: #ffffff;
  text-shadow:
    -1px 0px #000000,
    0px 1px #000000,
    1px 0px #000000,
    0px -1px #000000,
    2px 2px 5px #00000080;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;

  padding: 10px 0;
  width: 100%;
  background-color: #a0ce8a;
  cursor: pointer;
  margin-top: 10px;
}
[type="submit"]:hover {
  background-color: #76b559;
}

#id_title {
  width: 100%;
  height: 30px; /* 최대 높이 설정 */
  padding: 3px 3px;
  border-width: 1px;
  border-radius: 4px;
  background-color: #fff;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000080;
  overflow-y: auto; /* 스크롤 추가 */
}
#id_content {
  width: 100%;
  height:38vh; /* 최대 높이 설정 */
  padding: 3px 3px;
  border-width: 1px;
  border-radius: 4px;
  background-color: #fff;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px #00000080;
  overflow-y: auto; /* 스크롤 추가 */
}

.fileCondition {
  display: flex;
  width: 100%;
}

.delFile {
  display: flex;
  justify-content: right;
}