<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Q&A Detail</title>
    <script type="text/javascript">
      function confirmDelete(event) {
        if (!confirm("정말 삭제하시겠습니까?")) {
          event.preventDefault();
        }
      }

      function showEditForm() {
        document.getElementById("comment-display").style.display = "none";
        document.getElementById("edit-button").style.display = "none";
        document.getElementById("comment-edit-form").style.display = "block";
      }

      function validateCommentForm(event) {
        var content = document.getElementById("comment-content").value;
        if (content.trim() === "") {
          event.preventDefault();
          alert("이 입력란을 작성하세요.");
        }
      }
    </script>
  </head>
  <body>
    <h1>Q&A Detail</h1>
    <p><strong>Title:</strong> {{ question.title }}</p>
    <p><strong>Content:</strong> {{ question.content }}</p>
    <p><strong>Author:</strong> {{ question.author }}</p>

    <!-- 댓글 -->
    {% if question.comments %}
    <h2>댓글</h2>
    <p id="comment-display">{{ question.comments }}</p>
    {% if request.user.is_superuser %}
    <!-- superuser인 경우에만 댓글 수정 및 삭제 버튼 표시 -->
    <button id="edit-button" onclick="showEditForm()">댓글 수정</button>
    <form
      method="post"
      action="{% url 'comment-delete' question.pk %}"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" onclick="confirmDelete(event)">Delete</button>
    </form>
    {% endif %} {% else %}
    <!-- 댓글 작성 폼 -->
    {% if request.user.is_superuser %}
    <form method="post" action="{% url 'comment-create' question.pk %}">
      {% csrf_token %}
      <textarea
        name="content"
        id="comment-content"
        rows="3"
        cols="40"
      ></textarea>
      <button type="submit">댓글 작성</button>
    </form>
    {% endif %} {% endif %}

    <!-- 댓글 수정 폼 -->
    <form
      id="comment-edit-form"
      method="post"
      action="{% url 'comment-update' question.pk %}"
      onsubmit="validateCommentForm(event)"
      style="display: none"
    >
      {% csrf_token %}
      <textarea name="content" id="comment-content" rows="3" cols="40">
{{ question.comments|default_if_none:'' }}</textarea
      >
      <button type="submit">댓글 수정</button>
    </form>

    <!-- 질문 수정 및 삭제 -->
    <a href="{% url 'qna-update' question.pk %}">Edit</a> |
    <form
      action="{% url 'qna-delete' question.pk %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit" onclick="confirmDelete(event)">Delete</button>
    </form>
  </body>
</html>
