/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, sans-serif;;
}

body {
  background-color: #f8f9fa;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #00000080;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-sizing: border-box;
  gap: 50px;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration-line: none;
}

header .material-symbols-outlined {
  color: #337614;
  vertical-align: middle;
  font-size: 26px;
  flex-shrink: 0;
  padding: 0px 15px;
  cursor: pointer;
}
header .material-symbols-outlined:hover {
  font-weight: bold;
}
#mypage {
  font-size: 30px;
}

header a {
  color: #337614;
  font-size: 24px;
  text-decoration-line: none;
  flex-shrink: 0;
}

header .logo img {
  margin-right: 8px;
}


.alarmList {
  display: none;
  text-align: center;

  border: none;
  border-radius: 4px;
  background-color: #a0ce8a;
  box-shadow: 2px 2px 5px #00000080;

  padding: 5px 5px;
  width: fit-content;
  max-width: 200px;
  max-height: 250px;
  overflow-y: auto;

  position: absolute;
  z-index: 1005;
  opacity: 0;
  transition: opacity 0.5s;
}
.alarmList.show {
  display: block;
  opacity: 1;
}
.alarmList > * {
  color: #ffffff;
  text-shadow:
    -1px 0px #000000,
    0px 1px #000000,
    1px 0px #000000,
    0px -1px #000000;
  font-weight: 700;
}