/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, sans-serif;;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #00000080;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration-line: none;
}

header .material-symbols-outlined {
  color: #337614;
  font-size: 26px;
  flex-shrink: 0;
  padding: 0px 15px;
}

header a {
  color: #337614;
  font-size: 24px;
  text-decoration-line: none;
  flex-shrink: 0;
}

header .logo img {
  margin-right: 8px;
}

header .mypage {
  padding: 0px 15px;
}
header .mypage:hover {
  font-weight: bold;
}
